<div class="row">
  <% if !dashboard.my_cards.any? %>
    <div class="empty-message">
      You have no cards yet.
    </div>
  <% end %>

  <% dashboard.my_cards.each do |vendor| %>
    <%=
      render 'activities/activity_tile',
        title: vendor.name,
        current_count: current_stamps_count(vendor.total_stamps_count(current_user)),
        date: ""
    %>
  <% end %>
</div>
