<div class="dashboard dashboard--vendor center-block">
  <h3 class="dashboard__title"><%= @dashboard.vendor_name %></h3>

  <%= render 'shared/vendor_tabs' %>

  <div class="tab-content clearfix">
    <div class="row">
      <% @dashboard.recent_activity.each do |activity| %>
        <%=
          render 'activities/activity_tile',
            title: "Customer##{activity.user_id}",
            current_count: current_stamps_count(current_vendor.total_stamps_count(activity.user, till_date: activity.created_at)),
            date: "#{time_ago_in_words(activity.created_at)} ago"
        %>
      <% end %>
    </div>
  </div>
</div>
