<div class="dashboard dashboard--vendor center-block">
  <h3 class="dashboard__title"><%= @analytics.vendor.name %></h3>

  <%= render 'shared/vendor_tabs' %>

  <div class="tab-content clearfix">
    <div>
      <h4>Stamps per day</h4>

      <blockquote class="analysis-info">Shows you how many stamps went through your system ina period of time.</blockquote>

      <div class="analysis-period">
        Period:
        <a class="analysis-period__item" href="/analytics">1 week</a>
        <a class="analysis-period__item" href="/analytics?since=2weeks">2 weeks</a>
        <a class="analysis-period__item" href="/analytics?since=month">1 month</a>
        <a class="analysis-period__item" href="/analytics?since=3months">3 months</a>
        <a class="analysis-period__item" href="/analytics?since=ever">Ever</a>
      </div>

      <div class="ct-chart ct-perfect-fourth" id="users-per-day-chart" data-data="<%= @analytics.users_per_day.to_json %>"></div>
    </div>

    <div>
      <h4>Stamp Cards</h4>
      <blockquote class="analysis-info">Shows you how many customers have between 1 and 10 stamps on their digital stamp cards today.</blockquote>

      <div class="ct-chart ct-perfect-fourth" id="users-per-stamp-chart" data-data="<%= @analytics.current_cards.to_json %>"></div>
    </div>
  </div>
</div>
