<div class="dashboard dashboard--vendor center-block">
  <h3 class="dashboard__title"><%= @analytics.vendor.name %></h3>

  <%= render 'shared/vendor_tabs' %>

  <div class="tab-content clearfix">
    <div>
      <h4>Stamps per day</h4>
      <div class="ct-chart ct-perfect-fourth" id="user-per-day-chart" data-data="<%= @analytics.users_per_day.to_json %>"></div>
    </div>

    <div>
      <h4>Stamp Cards</h4>
      <%= @analytics.current_cards %>
    </div>
  </div>
</div>
