<div class="modal" tabindex="-1" role="dialog" id="free-stuff-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Free Item</h4>
      </div>
      <div class="modal-body">
        <p class="text-center">This customer has collected enough stamps for a free item.</p>
        <p class="text-center">His/Hers loyalty counter has been restarted</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
