<% flash.each do |name, message| %>
  <% if %w(notice alert).include? name %>
    <% class_suffix = name == "notice" ? "success" : "danger" %>
    <div class="page-alert">
      <div class="alert alert-<%= class_suffix %>" role="alert"><%= message %></div>
    </div>
  <% end %>
<% end %>
