<footer class="footer">
  <div class="footer__nav">
    <div class="footer__nav-spacer"></div>
    <div class="footer__nav-block">
      <h5>Product</h5>
      <ul class="">
        <li><a href="/sign_up?type=Vendor">For Businesses</a></li>
        <li><a href="/sign_up">For Card Holders</a></li>
      </ul>
    </div>
    <div class="footer__nav-block">
      <h5>Information</h5>
      <ul class="">
        <li><a href="/about">About Us</a></li>
        <li><a href="/about#contact">Contact Us</a></li>
        <li><a href="/tos">Terms of Service</a></li>
      </ul>
    </div>
  </div>
  <h5 class="footer__copy">Copyright &copy; 2016</h5>
</footer>
