<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand page-scroll" href="/">Loyalty Wallet</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign Up <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="#">Busynesses</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Card holders</a>
            </li>
          </ul>
        </li>
        <li>
          <a class="page-scroll" href="#portfolio">Log In</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

