<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="<%= "active" if current_page?(dashboard_path) %>"><%= link_to "My Stats", dashboard_path %></li>
  <li role="presentation" class="<%= "active" if current_page?(new_stamp_path) %>"><%= link_to "Manual ID", new_stamp_path %></li>
</ul>
