<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1>Digital Stamp Cards</h1>
      <h3>Local Loyality Programs Move from Paper to the Cloud</h3>

      <br>
      <a href="#about" class="btn-cta">For businesses</a>
      <a href="#about" class="btn-cta">For card holders</a>
    </div>
  </div>
</header>

<main>
  <section>1st</section>
  <section>2nd</section>
  <section>3rd</section>
</main>

<footer></footer>
