<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand page-scroll" href="#page-top">Loyalty Wallet</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="page-scroll" href="#about">How it works</a>
        </li>
        <li>
          <a class="page-scroll" href="#services">Sign Up</a>
        </li>
        <li>
          <a class="page-scroll" href="#portfolio">Log In</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1>Digital Stamp Cards</h1>
      <h3>Engage your customers</h3>

      <br>
      <a href="#about" class="btn-cta">Get started</a>
    </div>
  </div>
</header>

<main>
  <section>1st</section>
  <section>2nd</section>
  <section>3rd</section>
</main>

<footer></footer>
