<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1>Digital Stamp Cards</h1>
      <h3>Local Loyality Programs Move from Paper to the Cloud</h3>

      <br>
      <a href="#about" class="btn-cta">For businesses</a>
      <a href="#about" class="btn-cta">For card holders</a>
    </div>
  </div>
</header>

<main class="container">
  <div class="content content--card-holder">
    <section class="section section--benefits">
      <h3 class="section__title">Loyalty Wallet keeps a track on your loyalty cards for you</h3>
      <div>
        Unclutter your wallet
        If you go to work, university, or school your wallet probably contains a respectable collection of loyalty stamp cards for your daily meals. There is an easier way now.
      </div>

      <div>
        Never loose a card again
        Do not allow your meticulously collected points to disappear together with the paper they are stamped on. Never let a free meal slip away from you again.
      </div>

      <div>
        It is FREE
        Do not allow your meticulously collected points to disappear together with the paper they are stamped on. Never let a free meal slip away from you again.
      </div>

      <div>
        <a href="/users/sign_in" class="btn-cta">Get started</a>
      </div>
    </section>
    <section class="section section--howitworks">
      <div>
        How it works
        Loyalty Wallet is EASY. Only 3 Quick Steps.
        Sign Up
        Receive unique QR code
        Show QR code to vendor
      </div>
    </section>
  </div>

  <div class="content content--business">
    <section class="section section--benefits">
      <h3 class="section__title">Loyalty Wallet is better than your current paper based loyalty program:</h3>
      <div>
        Learn who your customer is: We provide you with cutting statistics about how your customers behave. For the first time we allow you to understand who is buying from you.
      </div>

      <div>
        Connect to your customer
        Our software allows you to send messages to users about your new offers, special deals, or reactivate customers who have not visited you in a while.
      </div>

      <div>
        It is FREE
        Our FREE version allows you to save costs from constant printing of cards. We give small and medium businesses the ability to join the digital revolution.
      </div>

      <div>
        <a href="/users/sign_in" class="btn-cta">Get started</a>
      </div>
    </section>
    <section class="section section--howitworks">
      <div>
        Loyalty Wallet is EASY. Only 3 Quick Steps.\
        Sign Up
        Add a device
        Scan customer QR codes
      </div>
    </section>
  </div>
</main>

<footer></footer>
