<% if active_deals.any? %>
  <% active_deals.each do |deal| %>
    <div class="deals__item deals__item--active">
      <div class="deals__head">
        <div class="deals__title"><%= deal.title %></div>
        <div>
          <strong>Valid:</strong> <%= deal_valid_time(deal) %>
        </div>
      </div>
      <div class="deals__message">
        Once you turn on a deal it is bringing for the duration you selected and will be turned off automaticaly afterwards.
      </div>
    </div>
  <% end %>
<% end %>
