.btn-cta {
  @extend %cool-btn;
  font-size: 13px;

  background-color: $color-blue;
  color: $color-white;

  &:hover, &:focus {
    background-color: $color-dark-blue;
    color: $color-white;
  }
}

.btn-cta-success {
  @extend %cool-btn;

  background: transparent;
  border: 1px solid #eee;
  color: $color-black;

  &:hover, &:focus {
    background: transparent;
    color: $color-black;
  }
}

@media (min-width: 480px) {
  .btn-cta {
    font-size: 17px;
  }
}
