.dashboard {
  box-sizing: border-box;
  width: 100%;
  padding: 20px 30px;

  &__nav {
    @extend .nav;
    @extend .nav-pills;

    margin-bottom: 20px;

    & > li > a {
      border-radius: 0;
    }
    & > li.active > a {
      background-color: $color-blue;
      &:hover {
        background-color: $color-dark-blue;
      }
    }
  }

  &__manual-id {
    margin-top: 20px;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__input {
    @extend %cool-input;
    padding: 10px 12px;
    border: 1px solid #ddd;
  }

  &__submit-btn {
    @extend .btn-submit;
    width: 100%;
    margin: 0 0 20px;
  }
}

@media (min-width: 480px) {
  .dashboard {
    margin: 10px auto;
    width: 450px;
    box-shadow: 0 2px 3px rgba(33,33,33,0.05);
    border: 1px solid $color-dark-white;
  }
}

@media (min-width: 768px) {
  .dashboard {
    width: 600px;
  }
}

@media (min-width: 1024px) {
  .dashboard--vendor {
    width: 800px;
  }
}
