.deals {
  &__item {
    @extend .panel;
    @extend .panel-body;
    @extend .panel-default;
  }

  &__head {
    position: relative;
  }

  &__score {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0;
  }

  &__title {
    margin-top: 0;
  }

  &__text {
    margin-bottom: 5px;
  }

  &__date {
    text-align: right;
  }

  &__message {
    margin-top: 10px;
  }

  .new_deal .row {
    margin-left: 0;
    margin-right: 0;
  }
}

.deals--vendor {
  .deals {
    &__content-title {
      margin-bottom: 30px;
    }

    &__head {
      margin-bottom: 5px;
    }

    &__title {
      margin-bottom: 5px;
    }

    &__item--upcoming {
      @extend .panel-warning;
      background: rgba(250, 235, 204, 0.2);
    }

    &__item--active {
      @extend .panel-success;
      background: rgba(214, 233, 198, 0.2);
    }

    &__item--expired {
      background: rgba(170, 170, 170, 0.1);
    }

    &__section {
      border-top: 1px solid $color-dark-white;
      padding: 20px 0;
    }
    &__section-title {
      margin-bottom: 15px;
    }
  }
}
