.footer {
  background-color: #333e48;
  color: $color-white;
  padding: 50px;

  a {
    &, &:hover, &:focus {
      color: $color-light-grey;
    }
  }

  &__nav {
    @extend .row;
  }

  &__nav-block {
    @extend .col-xs-4;
    margin-bottom: 20px;

    ul {
      @extend .list-group;
      list-style: none;
      margin-top: 20px;
    }
  }

  &__nav-spacer {
    @extend .col-xs-3;
  }

  &__copy {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 40px;
  }
  .footer__nav-block {
    width: 50%;
  }
  .footer__nav-spacer {
    display: none;
  }
}
