.signup {
  padding: 80px 40px;
  background: $color-light-grey;
  min-height: 100%;

  &__title {
    color: $color-black;
    margin-bottom: 20px;
  }

  &__block {
    width: 300px;
    position: relative;
    background-color: $color-white;
    padding: 10px 30px;
    box-shadow: 0 2px 3px rgba(33,33,33,0.05);
    border: 1px solid $color-dark-white;
  }

  &__submit {
    @extend %cool-btn;

    background-color: $color-super-dark-blue;
    color: $color-white;
    border: 0;
    margin: 10px 0;
    width: 100%;
    margin-bottom: 20px;

    &:hover, &:focus {
      background-color: darken($color-super-dark-blue, 10%);
      color: $color-white;
    }
  }

  &__link {
    margin: 0 5px;

    &, &:hover, &:focus {
      color: $color-blue;
    }
  }

  label.control-label {
    color: $color-black;
  }

  .help-block, .boolean {
    color: $color-black;
  }

  &__input {
    @extend %cool-input;
    border: 1px solid $color-dark-white;
    padding: 15px 15px;
  }
}

@media (min-width: 480px) {
  .signup__block { width: 400px; }
}

@media (min-width: 768px) {
  .signup__block { width: 500px; }
}

