<header class="about">
  <div class="about-content">
    <div class="about-content-inner">
      <h1>Made in Wedding</h1>
    </div>
  </div>
</header>

<main class="landing-main">
  <div class="content content--about" id="about">
    <section class="section section--about">
      <h2 class="section__title">About Us</h2>
      <p>We are Vitaly (Backend), Sasha (Frontend) and Stan (PM) the creators of this platform. We have long struggled with paper stamp cards, which are abundant in eateries, coffee shops and pretty much anywhere, where we like to have lunch (and dinner occasionally). At some point we felt we should get another wallet or an album to carry them. Furthermore, they are prone to getting lost, damaged, or smudged, which resulted in the disappearance of our stamps. NO MORE.</p>
      <p>As part of the Ruby Rampage hackaton 2016 we developed this platform for people like us. However, we also realized that with this digitization we can also provide a connection between users and their favorite small eateries. Now you can easily follow the deals at the local pizza joint, know the burger of the week at your favorite burger shack or know that the coffee shop next door offers nitro coffee.</p>
    </section>
  </div>

  <div class="content content--about" id="contact">
    <section class="section section--about">
      <h2 class="section__title">Contact Us</h2>
      <p>If you want to get in touch with us, collaborate with us, joint the platform, anything really, drop us a line and we will make sure to contact you.</p>

      <p><strong>loyalty.berlin@gmail.com</strong></p>

      <p>Thanks and Cheers </p>
    </section>
  </div>
</main>

<%= render 'shared/footer' %>
