@import "bootstrap-sprockets";
@import "bootstrap";

@import "variables";
@import "core";
@import "modules/*";

@import "chartist";

.section-heading {
  margin-top: 0;
}

.spacer {
  margin-bottom: 20px;
}

.page-alert .alert {
  position: relative;
  top: 50px;
  width: 100%;
  margin-bottom: 0;
  border-radius: 0;
  z-index: 100;
}

.landing-main {
  padding: 20px 0 0 0;
}

.empty-message {
  margin: 10px 20px;
}
