@import "bootstrap-sprockets";
@import "bootstrap";

$color-blue: #3ea9f5;
$color-dark-blue: #1f9dea;
$color-super-dark-blue: #3769cc;
$color-white: white;
$color-dark-white: #eee;
$color-black: #000;

$brand-primary: $color-blue;

%cool-input {
  outline: 0;
  padding-left: 10px;
  vertical-align: bottom;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  height: auto;
  display: inline-block;
  border: 2px solid white;
  border-radius: 4px;
}


html, body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}
.page-container {
  padding-top: 60px;
}
a {
  transition: all 0.35s;
  color: $color-blue;
}
a:hover, a:focus {
  color: $color-dark-blue;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}
section {
  padding: 50px 0;
}
aside {
  padding: 50px 0;
}
.navbar-default {
  background: rgba(255, 255, 255, 0.8);
  border-color: rgba(34, 34, 34, 0.05);
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  transition: all 0.35s;

  .navbar-header .navbar-brand {
    color: black;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;

    &:hover, &:focus {
      color: $color-dark-blue;
    }
  }

  .dropdown-menu {
    background: rgba(255, 255, 255, 0.8);

    .dropdown-item:hover {
      background: transparent;
    }
  }

  .navbar-header .navbar-toggle {
    font-weight: 700;
    font-size: 12px;
    color: black;
    text-transform: uppercase;
    background: transparent;
  }
  .nav li a,
  .nav li a:focus {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    color: black;
  }
  .nav li a:hover,
  .nav li a:focus:hover {
    color: $color-blue;
  }
  .nav li.active a,
  .nav li.active a:focus {
    color: $color-blue !important;
    background-color: transparent;
  }
  .nav li.active a:hover,
  .nav li.active a:focus:hover {
    background-color: transparent;
  }
}

header {
  position: relative;
  width: 100%;
  min-height: auto;
  background-size: cover;
  background-position: center;
  background-image: image_url('header.jpg');
  text-align: center;
  color: $color-white;

  &::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.75), rgba(0,108,183,0));
  }

  .header-content {
    position: relative;
    text-align: center;
    padding: 100px 15px 100px;
    width: 100%;

    .header-content-inner {
      h1 {
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 30px;
      }
      hr {
        margin: 30px auto;
      }
      p {
        font-weight: 300;
        color: $color-white;
        font-size: 16px;
        margin-bottom: 50px;
      }
    }
  }
}
@media (min-width: 768px) {
  header {
    min-height: 100%;
  }
  header .header-content {
    position: absolute;
    top: 45%;
    transform: translateY(-45%);
    padding: 0 50px;
  }
  header .header-content .header-content-inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  header .header-content .header-content-inner h1 {
    font-size: 50px;
  }
  header .header-content .header-content-inner p {
    font-size: 18px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
.section-heading {
  margin-top: 0;
}

%cool-btn {
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  padding: 16px 0;
  margin: 5px;
  width: 36%;
  font-size: 17px;
  font-weight: 600;
  transition: all 155ms ease-in-out;

  &:hover, &:focus {
    text-decoration: none;
  }
}

.btn-cta {
  @extend %cool-btn;

  background-color: $color-blue;
  color: $color-white;

  &:hover, &:focus {
    background-color: $color-dark-blue;
    color: $color-white;
  }
}

.btn-cta-success {
  @extend %cool-btn;

  background: transparent;
  border: 1px solid #eee;
  color: $color-black;

  &:hover, &:focus {
    background: transparent;
    color: $color-black;
  }
}

.spacer {
  margin-bottom: 20px;
}

// ------------ QR Code Styles
.qr-code {
  table {
    border-width: 0;
    border-style: none;
    border-color: #0000ff;
    border-collapse: collapse;
  }

  td {
    border-left: solid 5px #000;
    padding: 0;
    margin: 0;
    width: 0px;
    height: 5px;
  }

  td.black { border-color: #000; }
  td.white { border-color: #fff; }
}

// ------------- signup

.signup {
  padding: 80px 40px;
  background: $color-blue;
  min-height: 100%;

  &__title {
    color: $color-white;
    margin-bottom: 20px;
  }

  &__block {
    width: 300px;
  }

  &__submit {
    @extend %cool-btn;

    background-color: $color-super-dark-blue;
    color: $color-white;
    border: 0;
    margin: 10px 0;
    width: 100%;

    &:hover, &:focus {
      background-color: darken($color-super-dark-blue, 10%);
      color: $color-white;
    }
  }

  &__link {
    &, &:hover, &:focus {
      color: white;
    }
  }

  label.control-label {
    color: $color-white;
  }

  .help-block, .boolean {
    color: $color-dark-white;
  }

  &__input {
    @extend %cool-input;
    padding: 15px 15px;
  }
}

@media (min-width: 480px) {
  .signup__block { width: 400px; }
}

@media (min-width: 768px) {
  .signup__block { width: 500px; }
}


// ------------- alerts

.page-alert .alert {
  position: relative;
  top: 50px;
  width: 100%;
  margin-bottom: 0;
  border-radius: 0;
  z-index: 100;
}

// -------------- dashboard
.dashboard {
  width: 320px;
  margin-top: 10px;

  &__nav {
    @extend .nav;
    @extend .nav-pills;

    & > li > a {
      border-radius: 0;
    }
    & > li.active > a {
      background-color: $color-blue;
      &:hover {
        background-color: $color-dark-blue;
      }
    }
  }

  &__manual-id {
    margin-top: 20px;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__input {
    @extend %cool-input;
    padding: 10px 12px;
    border: 2px solid #ddd;
  }
}

@media (min-width: 480px) {
  .dashboard { width: 400px; }
}

@media (min-width: 768px) {
  .dashboard { width: 500px; }
}

// ------------------- content

.landing-main {
  padding: 20px 0;
}
.content {
  padding: 30px 0;
}

.section {
  &--benefits {
    padding: 0 50px;
  }

  &--howitworks {
    padding: 50px;
    margin-top: 50px;
  }

  &__title {
    margin-bottom: 50px;
  }

  &__items {
    @extend .row;
  }

  &__item {
    @extend .col-lg-4;
  }

  &__item-title {
    text-transform: uppercase;
  }

  &__image {
    width: 100%;
  }

  &__button-container {
    text-align: center;
    margin-top: 40px;
  }
}

.section--howitworks {
  background-color: #f5f5f5;
}
